{% extends 'base.html' %}

{% block content %}
<legend >
        <h4 class="form-heading" style="margin-bottom:20px" >About us</h4>
    </legend>

<p>Every day, we strive to do better than the last on. Your feedback will help us and we see it as an integral 
        corner stone to improve thing here at <b>Complaint Anytime Anywhere</b>.</p>
        <legend >
                <h4 class="form-heading" style="padding-top:60px" >Address Info</h4>
            </legend>

<b>Address:</b>
<p>Department of Complaint Anytime Anywhere</p>
<p>Thapar Institute of Engineering and Technology Patiala - 147004</p>
<p>Email	:	complaintanywhereanytime@gmail.com</p>
{% endblock %}