<!DOCTYPE html>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complaint Anytime Anywhere</title>
</head>
<body>
    <style>.underline{text-decoration: underline;float: right;padding-left: 10px;}</style>

<div class="container">
        <div>
                <div class="well" style="height:130px">
                    {% if user.is_authenticated %}
                        <div><a  href="{% url 'logout' %}" class="underline">Log out</a>
                    {% else %}
                    <div><a  href="{% url 'login' %}" class="underline">Login</a></div>
                    {% endif %}
                    <a href="{%url 'home' %}" class="underline" style="float:left"><h2>Complaint Anytime Anywhere</h2></a>
                
                </div>
            </div>
    </div>

{% block content %}
{% endblock content %}

<br /><br />
<footer>
      <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <div class="container text-center">
              <small>Copyright &copy; Build with &hearts;</small>
              <a  href="{% url 'feedback' %}" class="underline"> Feedback</a>
              <a  href="{% url 'about-us' %}" class="underline">About us</a>
            </div>
          </footer>
</footer>

</body>
</html>