<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv ='X-UA-Compatible' content='IE=edge'>
    <title> Electricity </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    </head>
<body>

<center><h2>Electricity</h2></center>


<form action="/Electricity/" method="post">
    {%csrf_token%}
Complaint:<br>
<textarea rows="4" cols="50">
</textarea>
<br><br>
Picture:<br><br>
<input type="button" value="Take Picture" >
<input type="button" value="browser" >
<br><br>
<input type="hidden" name="customer-type" value="ELECTRICIAN">
<input type="submit">
<button type="button"><a href="{% url 'complaints' %}">Back to Service</a></button><br><br>
</form>
</body>
</html>