{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="heading">
        <legend >
        <h4 class="form-heading" style="margin-bottom:20px" >Feedback</h4>
    </legend>
    </div>
        FEEDBACK BY {% if user.profile.type == 'STUDENT' %}
        STUDENT
    {% else %}
    {{user.profile.type}}
        
        
    {% endif %} <br><br>
        <p>Everything alright? Good. Drop us <b>feedback</b> about your experience or any cool new idea you have in mind.
        Something went wrong or you are unhappy with a service we have or have not provided. Let us know, too by raising
         a complaint and we solve your issue</p>
         <p>Please include the following information:</p>

            <p>-       your name</p>

<p>-       the email address in which you made the complain</p>

<p>-       the name of the Assigner </p>

<p>-       the reference number (order Id) of your booking</p>

        <a href="mailto: complaintanywhereanytime@gmail.com?" target="_top" class="btn btn-success" style="margin-top:30px">Send Mail</a>

        
{% else %}
    Feedback by anonymous (logged out) user
{% endif %}
<br /><br />
{% endblock %}