{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.profile.type == 'STUDENT' %}
        <h2>My Complaints</h2>
        <b>Create new complaint</b>
        {% include "list.html" with complaints=complaints count=count  %}
    {% else %}
        <h2>Complaints to workon</h2>
        <b>User type: {{user.profile.type}}</b>
        {% include "list.html" with complaints=complaints count=count  %}
    {% endif %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}