    {% if count > 0 %}
    <table>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Created by</th>
            <th>Crated On</th>
            <th>Status</th>
        </tr>
        {% for complaint in complaints %}
        <tr>
            <td><a href="{% url 'complaint-detail' complaint.id %}">{{complaint.id}}</a></td>
            <td>{{ complaint.type }}</td>
            <td>{{ complaint.user.first_name }}</td>
            <td>{{ complaint.created_at }}</td>
            <td>{{ complaint.status }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <b>No complaints yet!</b>
    {% endif %}
