<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv ='X-UA-Compatible' content='IE=edge'>
  <title> Plumber </title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
  </head>
<body> 

<center><h2>Plumber</h2></center>


<form action="/action_page.php"> 
Room No:<br>
<input type="text" name="firstname">
<br><br>
Complaint:<br>
<textarea rows="4" cols="50">
</textarea>
<br><br> 
Picture:<br><br>
<input type="button" value="Take Picture" >
<input type="button" value="browser" >
<br><br>
<input type="submit">
<input type="button" value="Back to Service" >
<input type="hidden" name="customer-type" value="PLUMBER">
</form>
</body>
</html>